@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  overflow-y: scroll;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

@theme {
  --color-black: #1D2021;
  --color-gray: #32302F;
  --color-white: #D5C4A1;
  --color-green: #B8BB26;
  --color-yellow: #FABD2F;
  --color-pink: #D3869B;
  --body: system-ui, 'Arimo', Arimo, sans-serif;
}

:root{
  font: 18px/145% var(--body);
  color: var(--color-white);
  background: var(--color-gray);
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}